include README.md
include LICENSE
include pyproject.toml
recursive-include src *.py
recursive-include docs *.md
prune .ipynb_checkpoints
prune __pycache__
global-exclude *.pyc
global-exclude *.pyo
global-exclude *~
global-exclude .DS_Store
